/*  margin/padding start */

.margin-top-25 {
  margin-top: 25px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.ul-padding-start {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
}

/*  margin end */


/* color start */

.font-color-red {
  color: red;
}
.font-color-999 {
  color: #999;
}

/* color end */


/* font-weight start */

.font-weight-600 {
  font-weight: 600;
}

/* font-weight end */


/* 外域链接start */

.rectangle-list li,.rounded-list li {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #c56861;
  margin-bottom: 2rem;
  margin-right: 6rem;
  height: 3rem;
  line-height: 3rem;
}
.rectangle-list li a,.rounded-list li a {
  color: bisque;
}
.rectangle-list li:before, .rounded-list li:before {
  position: absolute;
  left:-3rem;
  top: -.4rem;
  content: '1';
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #e3476d;
  color: white;
  border: .4rem solid white;
  box-sizing: content-box;
}
.rounded-list li:before {
  border-radius: 100%;
}

/* 外域链接end */


/* 定义标题字体大小start */

h1.h1-35 {
  font-size: 35px
}

/* 定义标题字体大小end */


/* music style start */

.audio-img {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer
}
.audio-img img {
  display: block;
  width: 50px;
  height: auto;
}
#clickMe
{
  position:relative;
  animation:myfirst .2s infinite;
  animation-direction:alternate;
  /* Safari and Chrome */
  -webkit-animation:myfirst .2s infinite;
  -webkit-animation-direction:alternate;
}
@keyframes myfirst
{
  0%   {left:-5px; top:0px;}
  100% { left:10px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {left:-5px; top:0px;}
  100% {left:10px; top:0px;}
}

/* music style end */


/* footer start */

.copyright-dis {
  margin-bottom: 12px
}

/* 返回顶部按钮 */
.back-to-top {
  position: fixed;
  cursor: pointer;
  text-align: center;
  right: 1.6%;
  bottom: 2%;
  z-index: 1001;
  list-style: none;
  display: none;
}
.back-to-top li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  color: #ccc;
  background-color: #929292;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/* footer end */


/* inner-page code start */

.post-header blockquote {
  margin-top: 20px;
}
.post-meta {
  margin-right: 30px
}
.donate-btn {
  margin-top: 20px;
  margin-bottom: -60px
}
.donate-btn a {
  text-decoration: none;
}

/* inner-page code end */


/* 云标签start */

.tags-cloud{
  list-style: none;
  text-align: center;
  height:200px;
  position:relative;
  font-size:12px;
  margin-top: 100px;
}
.tags-cloud a{
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  background-color:#2a485d;
  text-decoration:none;
  margin:0 10px 15px 0;
  line-height:18px;
  padding:1px 5px;
  display:inline-block;
  border-radius:3px
}
.tags-cloud a:hover{
  color:#fff;
  background:#09f
}

/* 云标签end */


/* index page right document start */

.right-ul-style  ol,.right-list-style{
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}
.right-list-style li {
  background-color: transparent;
  list-style: none;
}
.right-list-style li h3 a {
  position: relative;
  color: #8e5880;
  margin-left: 20px;
  text-decoration: none;
  transition:all .5s
}
.right-list-style li h3 a:before {
  position: absolute;
  top: 0;
  left: -16px;
  content: '';
  width: 5px;
  height:100%;
  background-color: #dbd782;
}
.right-list-style li h3 a:hover {
  color: #888;
  transition:all .5s
}
.tags-title {
  padding: 2px 4px;
  background: #ddd;
  border-radius: 5px;
  margin-left: 18px;
  color: white;
  text-decoration: none !important;
}
.tags-title:hover {
  color: #5cb85c;
}
.excerpt-content {
  margin-bottom: 20px;
}
.excerpt-content * {
  font-size: 16px;
}

/* index page right document end */