/*  margin/padding start */

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-45 {
  margin-top: 45px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.ul-padding-start {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
}
.padding-top-bottom-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*  margin/padding end */


/* color start */

.font-color-red {
  color: red;
}
.font-color-999 {
  color: #999;
}

/* color end */


/* font-weight start */

.font-weight-600 {
  font-weight: 600;
}

/* font-weight end */


/* 外域链接start */

.rectangle-list,.rounded-list {
  counter-reset: section;                /* 为每个ol元素创建新的计数器实例 */
  list-style-type: none;
}
.rectangle-list li,.rounded-list li {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #a59392;
  margin-bottom: 2rem;
  margin-right: 6rem;
  height: 3rem;
  line-height: 3rem;
}
.rectangle-list li a,.rounded-list li a {
  color: bisque;
}
.rectangle-list li:before, .rounded-list li:before {
  position: absolute;
  left:-3rem;
  top: -.4rem;
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #e3476d;
  color: white;
  border: .4rem solid white;
  box-sizing: content-box;
  counter-increment: section;            /* 只增加计数器的当前实例 */
  content: counters(section, ".") " ";   /* 为所有计数器实例增加以“.”分隔的值 */
}
.rounded-list li:before {
  border-radius: 100%;
}

/* 外域链接end */


/* 定义标题字体大小start */

h1.h1-35 {
  font-size: 35px
}

/* 定义标题字体大小end */


/* music style start */

.audio-img {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer
}
.audio-img img {
  display: block;
  width: 50px;
  height: auto;
}
#clickMe
{
  position:relative;
  animation:myfirst .2s infinite;
  animation-direction:alternate;
  /* Safari and Chrome */
  -webkit-animation:myfirst .2s infinite;
  -webkit-animation-direction:alternate;
}
@keyframes myfirst
{
  0%   {left:-5px; top:0px;}
  100% { left:10px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {left:-5px; top:0px;}
  100% {left:10px; top:0px;}
}

/* music style end */


/* footer start */

.copyright-dis {
  margin-bottom: 12px
}

/* 返回顶部按钮 */
.back-to-top {
  position: fixed;
  cursor: pointer;
  text-align: center;
  right: 1.6%;
  bottom: 2%;
  z-index: 1001;
  list-style: none;
  display: none;
}
.back-to-top li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  color: #ccc;
  background-color: #929292;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/* footer end */


/* inner-page code start */

.post-header blockquote {
  margin-top: 20px;
}
.post-meta {
  margin-right: 30px
}
.donate-btn {
  margin-top: 20px;
  margin-bottom: -60px
}
.donate-btn a {
  text-decoration: none;
}

/* inner-page code end */


/* 云标签start */

.tags-cloud{
  list-style: none;
  text-align: center;
  height:200px;
  position:relative;
  font-size:12px;
  margin-top: 30px;
}
.tags-cloud a{
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  background-color:#2a485d;
  text-decoration:none;
  margin:0 10px 15px 0;
  line-height:18px;
  padding:1px 5px;
  display:inline-block;
  border-radius:3px
}
.tags-cloud a:hover{
  color:#fff;
  background:#09f
}

/* 云标签end */


/* about me start */

.about-me {
  list-style: none;
  padding-top: 5px;
}
.sidebar-title {
  font-size: 20px;
  font-weight: 600;
}
.me-header {
  margin: 30px 0 20px;
}
.me-header img {
  display: inline-block;
  width: 35%;
}
.we-chat {
  position: relative;
  margin-bottom:30px;
}
.we-chat span {
  padding:0 6px;
  opacity:.7;
  cursor:pointer
}
.we-chat span:hover{
  opacity:1
}
.we-chat img{
  position:absolute;
  top:-80px
}
.we-chat .contact-list_1 img {
  width:0;
  height:0;
  left:25%
}
.we-chat .contact-list_2 img {
  width:80px;
  height:80px;
  left:33%;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -ms-transform:scale(0)
}
.we-chat .contact-list_3 img {
  width:0;
  height:0;
  right:25%
}
.we-chat .contact-list_1:hover .contact-chat {
  width:80px;
  height:80px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg)
}
.we-chat .contact-list_2:hover .contact-qq {
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1)
}
.we-chat .contact-list_3:hover .contact-weibo {
  width:80px;
  height:80px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg)
}
.we-chat img,.we-chat span {
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s
}

/* about me end */

/* index page right document start */

.right-ul-style  ol,.right-list-style{
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}
.right-list-style li {
  background-color: transparent;
  list-style: none;
}
.right-list-style li h3 a {
  position: relative;
  color: #8e5880;
  margin-left: 20px;
  text-decoration: none;
  transition:all .5s
}
.right-list-style li h3 a:before {
  position: absolute;
  top: 0;
  left: -16px;
  content: '';
  width: 5px;
  height:100%;
  background-color: #dbd782;
  opacity: .8;
}
.right-list-style li h3 a:hover {
  color: #888;
  transition:all .5s
}
.tags-title {
  padding: 2px 4px;
  background: #ddd;
  border-radius: 5px;
  margin-left: 18px;
  color: white;
  text-decoration: none !important;
}
.tags-title:hover {
  color: #5cb85c;
}
.excerpt-content {
  margin-bottom: 25px;
}
/*.excerpt-content * {
  font-size: 14px;
}*/

/* index page right document end */

