<div class="docs-header" id="content">
  <div class="container">
  	{% if page.title%}
		    <!--<h1>{{ page.title }}</h1>-->
		    <!--<p>Post on {{ page.date | date: "%b %d, %Y" }} by <a href="/about">{{ site.author }}</a></p>-->
		    <h1>{{ site.motto }}</h1>
    {% else %}
	    <h1>{{ site.better_me }}</h1>
	    <p>{{ site.description }}</p>
    {% endif %}
      <audio style="display:none;" controls  loop="loop"  id="h5audio_media"  preload="auto" height="0" width="0" src="./../styles/Demi-Lovato-This-Is-Me.mp3">
          <source src="./../styles/Demi-Lovato-This-Is-Me.mp3">
      </audio>
      <div style="display: inline-block;position: absolute;right: 0;top: 0;cursor: pointer" id="radio">
          <img  src="./../styles/images/radio.png" style="display: block;width: 50px;height: auto;">
          <span style="color: beige" id="clickMe">Click!</span>
      </div>
  </div>
</div>
<script>
    var radio = document.getElementById('radio');
    var h5audio_media = document.getElementById('h5audio_media');

    radio.addEventListener('click',function () {
        if(h5audio_media != ''){
            //检测播放是否已暂停.audio.paused 在播放器播放时返回false.
            if (h5audio_media.paused) {
                h5audio_media.play();// 这个就是播放
                clickMe.innerText = '哇哦'
            } else {
                h5audio_media.pause();// 这个就是暂停
                clickMe.innerText = 'Click!'
            }
        }
    })
</script>
<style>
    #clickMe
    {
        position:relative;
        animation:myfirst .2s infinite;
        animation-direction:alternate;
        /* Safari and Chrome */
        -webkit-animation:myfirst .2s infinite;
        -webkit-animation-direction:alternate;
    }
    @keyframes myfirst
    {
        0%   {left:-5px; top:0px;}
        100% { left:10px; top:0px;}
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
        0%   {left:-5px; top:0px;}
        100% {left:10px; top:0px;}
    }
</style>