<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer-links">
			<span>
				我的网站展示：
			</span>
			<span>
				<a href="http://www.thisisme1228.com/">百家书（电脑上看）</a>
			</span>
			<span>&nbsp;|&nbsp;</span>
			<span>
				<a href="http://music.thisisme1228.com/index.html#/recommend">音乐网(手机上看)</a>
			</span>
		</div>
		<div class="copyright-dis">Copyright © 2017 <a href="JavaScript:;">Helene</a> . All rights reserved.</div>
		<p class="copyright">备案证书号：辽ICP备17012545号-1</p>
	</div>
</footer>

<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/lessismore.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/application.js' | prepend: site.baseurl }}"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="{{ '/styles/js/main.js' | prepend: site.baseurl }}"></script>
