<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer-links">
			<span class="copyright">
				My Site:
			</span>
			<span>
				<a  href="http://www.thisisme1228.com/" class="font-color-sienna">百家书(请在电脑上浏览)</a>
			</span>
			<span>&nbsp;&nbsp;</span>
			<span>
				<a href="http://music.thisisme1228.com/index.html#/recommend" class="font-color-sienna">音乐网(请在手机上浏览)</a>
			</span>
		</div>
		<div class="copyright-dis">Copyright © 2017 <a href="http://life.thisisme1228.com" class="">Helene</a> . All rights reserved.</div>
		<p class="copyright">辽ICP备17012545号-1</p>
	</div>
</footer>
<ul id="backToTop" class="back-to-top">
	<li>
		<span>TOP</span>
	</li>
</ul>
<!--<ul id="lastPage" class="last-page">
	<li onClick="javascript :history.back(-1);"">
		<span>BACK</span>
	</li>
</ul>-->

<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/lessismore.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/application.js' | prepend: site.baseurl }}"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="{{ '/styles/js/function.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/main.js' | prepend: site.baseurl }}"></script>

