---
layout: left-none
title:  JavaScript表单验证
date:   2018-5-15 00:00:00 +0800
tag: 进击JavaScript核心
---
* content
{:toc}
<hr>

#### js验证

##### 账户名验证

```

```