---
layout: default
---
<!-- 打赏 -->
<div class="container docs-container">
  <div class="row">
    <div class="col-md-8 col-md-push-2" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
        <hr/>
        <!--<blockquote style="margin-top: 20px"><p>对于本文内容有问题或建议的小伙伴，欢迎在文章底部留言交流讨论。</p></blockquote>-->
        <div class="text-center donate-btn">
          <a href="/donate/"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 您的支持是将是我写作最大的动力!</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
